.feedW{
    flex:5.5
}

/* .feedWrapper{
    padding: 20px;
} */

.feed
{
    width:700px;
    border: 4px outset var(--textColor);
    border-radius: 7px;
    margin-right:8px;
    text-align: center;
    padding: 13px;
}

.postHeading
{
    margin:20px;
    font-family: var(--vintageText);
    font-size: 20px;
}